In [1]:
#importing libraries
import pandas as pd
import numpy as np

In [91]:
#Linear regression 
class LR:
    
    def __init__(self,X,y,theta):
        
        self.X=X
        self.y=y
        self.theta=theta
    
    def regression(self):
        
        return np.dot(self.X,self.theta)
    
    def loss(self):
        
        ypred=self.regression()
        return np.sum((ypred - self.y)**2)/2*(self.X.shape[0])
    
    def GD(self,alpha):
        
        l=self.loss()
        ypred=self.regression()
        #Finding dtheta which is a derivative of loss function wrt to theta
        yy=ypred-self.y
        dtheta=(1/self.X.shape[0])*np.dot(self.X.T),yy)
        for i in range(len(self.theta)):
            self.theta[i]=(self.theta[i] - (alpha*dtheta[i]))
        return self.theta

SyntaxError: unmatched ')' (2530808342.py, line 25)

In [4]:
#Loading the dataset
df=pd.read_csv('fish.csv')
df.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [5]:
#One hot encoding the species column
from sklearn.preprocessing import LabelEncoder
encode=LabelEncoder()
df['Species']=encode.fit_transform(df['Species'])
df.head()

   Species  Weight  Length1  Length2  Length3   Height   Width
0        0   242.0     23.2     25.4     30.0  11.5200  4.0200
1        0   290.0     24.0     26.3     31.2  12.4800  4.3056
2        0   340.0     23.9     26.5     31.1  12.3778  4.6961
3        0   363.0     26.3     29.0     33.5  12.7300  4.4555
4        0   430.0     26.5     29.0     34.0  12.4440  5.1340

In [6]:
y=np.array(df[['Weight']])
X=np.array(df[['Species','Length1','Length2','Length3','Height','Width']])

In [8]:
#Splitting the data into training and test sets
from sklearn.model_selection import train_test_split
# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [98]:
shape=(X.shape[1],1)
theta = np.random.randn(shape[0],shape[1])

In [112]:
#Training the data on LR model
#Theta value calculated until loss is minimized
l1=LR(X_train,y_train,theta)
theta=l1.GD(0.0000005)